<!DOCTYPE html>
<html>

<div>
<head>
<link rel="stylesheet" href='/static/style.css' />
    <style>
div.a {
  text-align: center;
}

#div {
#  border: 3px solid gray;
#}
</style>

</head>
<body>

<div class="a"><h1><b>Emine Dogan</b></h1></div>
<div class="a"><p>  (781) 267-3532   | emine.dogan@gmail.com | https://www.linkedin.com/in/emine-dogan/ Woburn, MA 01801
</p></div>
<div class="a"><h3><b> Professional Summary</b></h3></div>
<p> Aspiring DevOps Engineer seeking a challenging DevOps opportunity where my skills, education and extensive training can be fully utilized.  A self-starter who takes initiative, displays leadership with excellent analytical and organizational skills
</p>

<div class="a"><h3><b> Technical Skills</b></h3></div>
<p> • AWS CCP Certified (Certified Cloud Practitioner)</p>
<p>• Programming languages:  Python, Bash, Powershell, YAML, JSON, SQL Java </p>
<p>• Tools: Git/GitHub, Docker, Kubernetes, Jenkins, Ansible, Chef, Puppet, Terraform, Vagrant, Selenium </p>
<p>• Platforms: Windows, Linux, AWS (EC2,ECR, ECS, S3, …)</p>
<p>• SDLC: Agile, Scrum, DevOps</p>

</body>
    </div>
</html>

